<h1><%= @game.player_1.name %> has entered the battle!</h1>
<h1><%= @game.player_2.name %> has entered the battle!</h1>

<%= @game.player_1.name %>: <%=@game.player_1.health%>HP! </br>
<%= @game.player_2.name %>: <%=@game.player_2.health%>HP!</br>

<form action="/attack" method="get">
  <input type="submit" value="Attack!">
  </form>
